body {
    cursor: url("cursor.cur"), auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular','Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    color: #333;

    background-image: url(background.jpg);
    background-repeat: repeat;
}

ol {
    line-height: 1.5;
    list-style-position: inside;
}

.img1, .img2, .img3, .gif1 {
    max-width: 40%;
    transform: scale(0.7);
    transform-origin: center;
    display: block;
    margin: 20px auto;

    border-radius: 20px;
    box-shadow: 20px 25px 20px black;
}

.img4 {
    max-width: 40%;
    transform: scale(0.9);
    transform-origin: center;
    display: block;
    margin: 20px auto;
}


table {
    margin: 0 auto;
}

td, th {
    padding: 10px 20px;
    text-align: center;
    border: 3px solid black;
}

.ordered-list {
    list-style-position: inside;
}

hr {
    height: 6px;
    background-color: #333;
    border: none;
    margin: 40px auto;
    width: 80%;
}

